/*/////////////////////////////////////
	Functional Mixins
/////////////////////////////////////*/
/*/////////////////////////////////////
	Color Palette
/////////////////////////////////////*/
/*Internals*/
/*Programme*/
/*Location*/
/*Booking*/
/*Info*/
/*Button Color*/
/*Section Color*/
/*Page Color*/
/*/////////////////////////////////////
	Global
/////////////////////////////////////*/
body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative; }

a {
  color: #fff; }

/*Responsive Show-Hides*/
.sm-show,
.md-show,
.lg-show,
.xl-show {
  display: none; }

/*/////////////////////////////////////
	Typography
/////////////////////////////////////*/
@font-face {
  font-family: 'ag-defectedbrand-bold';
  src: url("https://defected.com/static/font/avantgardedefectedbold-webfont.eot?6a32a2dbe2d2");
  src: url("https://defected.com/static/font/avantgardedefectedbold-webfont?#iefix") format("embedded-opentype"), url("https://defected.com/static/font/avantgardedefectedbold-webfont.woff?6a32a2dbe2d2") format("woff"), url("https://defected.com/static/font/avantgardedefectedbold-webfont.ttf?6a32a2dbe2d2") format("truetype"), url("https://defected.com/static/font/avantgardedefectedbold-webfont.svg?6a32a2dbe2d2#avant_garde_defected_brand_Rg") format("svg");
  font-weight: normal;
  font-style: normal; }
h1,
h2,
h3,
h4,
h5,
a,
.btn,
.price,
.navbar-brand {
  text-transform: uppercase;
  font-kerning: normal; }

h1,
h2 {
  font-family: 'ag-defectedbrand-bold', 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial; }

h3,
h4,
h5,
a,
.btn,
.price,
.navbar-brand {
  font-family: 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial;
  letter-spacing: -0.02em;
  line-height: 1em; }

h1 {
  font-size: 8em;
  line-height: 0.8em;
  margin-bottom: 0.2em; }

h2 {
  font-size: 6em;
  margin-bottom: 1em; }

h3 {
  font-size: 3em;
  margin-bottom: 0.3em; }

h4 {
  font-size: 2.5em;
  line-height: 1em; }

h5 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 1.5rem; }

h2,
h3 {
  line-height: 0.9em; }

/*/////////////////////////////////////
	UI Components
/////////////////////////////////////*/
a.see-more {
  text-decoration: underline;
  margin-right: 0.6rem; }

p {
  margin-bottom: 1.2rem; }

.chunk {
  margin-bottom: 5rem; }

.chunk h2 {
  margin-bottom: 0.1em; }

.headline {
  padding-top: 30vh;
  padding-bottom: 30vh; }

.btn {
  font-size: 1.2rem;
  padding: 1rem 5rem;
  border-radius: 0;
  display: block;
  width: min-content;
  margin-bottom: 1.2rem; }

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #F5C423; }

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 196, 35, 0.5); }

.fixed-btn {
  z-index: 4;
  position: relative;
  float: right;
  left: -50%;
  -ms-transform: translateX(50%) translateY(0);
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0); }

.btn-round {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 35px 0;
  font-size: 1em;
  line-height: 1em;
  margin-top: 20px; }

/*/////////////////////////////////////
	Navigation
/////////////////////////////////////*/
.navbar {
  padding: 2.5rem; }

.navbar-brand {
  line-height: 1.25rem; }
  .navbar-brand img,
  .navbar-brand svg {
    height: 2rem;
    width: auto; }
  .navbar-brand > div {
    display: inline-block;
    vertical-align: top; }

#dfd-logo path,
#dfd-logo polygon {
  fill: #ffffff; }

#croatia-2019-logo {
  margin-right: 2px; }

#date-countdown {
  font-size: 0.5em;
  line-height: 1em;
  margin-top: 1px; }
  #date-countdown .countdown {
    font-size: 1.4em; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 2rem;
  font-size: 0.9em; }

.navbar-bg {
  position: fixed;
  height: 20px;
  top: -21px;
  left: 0;
  width: 100%;
  z-index: 1020;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #fff; }

/*/////////////////////////////////////
	Page & Section Colours
/////////////////////////////////////*/
.section img {
  opacity: 0.9; }

/*Homepage*/
#homepage {
  position: relative; }
  #homepage .navbar-bg {
    background-color: #F1521D; }
  #homepage #dfd-logo rect,
  #homepage #croatia-2019-logo {
    fill: #ffd12b; }
  #homepage .home-hide {
    display: none; }
  #homepage .nav-item:nth-child(1) > .nav-link {
    color: #ffd12b; }
  #homepage #header {
    height: 120vh;
    position: relative;
    background: url(../img/dennis_mob.jpg);
    overflow: visible; }
    #homepage #header .btn {
      color: #ffd12b;
      background-color: transparent;
      border: 1px solid #ffd12b; }
      #homepage #header .btn:hover {
        color: #631406;
        background-color: #ffd12b; }
      #homepage #header .btn:active {
        color: #631406;
        background-color: #f7c100; }
  #homepage #lineup {
    background-color: #F1521D; }
    #homepage #lineup .alt {
      color: #631406; }
    #homepage #lineup .btn {
      color: #631406;
      background-color: transparent;
      border: 1px solid #631406; }
      #homepage #lineup .btn:hover {
        color: #F1521D;
        background-color: #631406; }
      #homepage #lineup .btn:active {
        color: #F1521D;
        background-color: #330a03; }
    #homepage #lineup a.see-more:hover {
      color: #631406; }
  #homepage #overview {
    background-color: #33064A; }
    #homepage #overview .alt {
      color: #F243CA; }
    #homepage #overview .btn {
      color: #F243CA;
      background-color: transparent;
      border: 1px solid #F243CA; }
      #homepage #overview .btn:hover {
        color: #33064A;
        background-color: #F243CA; }
      #homepage #overview .btn:active {
        color: #33064A;
        background-color: #ef13bd; }
    #homepage #overview a.see-more:hover {
      color: #F243CA; }
  #homepage #location {
    background-color: #F78825; }
    #homepage #location .alt {
      color: #631406; }
    #homepage #location .btn {
      color: #631406;
      background-color: transparent;
      border: 1px solid #631406; }
      #homepage #location .btn:hover {
        color: #F78825;
        background-color: #631406; }
      #homepage #location .btn:active {
        color: #F78825;
        background-color: #330a03; }
    #homepage #location a.see-more:hover {
      color: #631406; }

#booking-tab {
  padding: 8rem 0 8rem;
  margin-top: -80px;
  background-color: #2289FB;
  background-image: url(../img/bookingtab_bg.jpg);
  background-size: cover;
  transform: skewY(0); }
  #booking-tab .container,
  #booking-tab .container-fluid {
    transform: skewY(0); }
  #booking-tab .col-12:nth-child(1) {
    background-color: #07284F;
    text-align: center;
    padding: 4rem 2rem; }
    #booking-tab .col-12:nth-child(1) .btn {
      color: #80EDF4;
      background-color: transparent;
      border: 1px solid #80EDF4; }
      #booking-tab .col-12:nth-child(1) .btn:hover {
        color: #07284F;
        background-color: #80EDF4; }
      #booking-tab .col-12:nth-child(1) .btn:active {
        color: #07284F;
        background-color: #51e6f0; }
    #booking-tab .col-12:nth-child(1) .btn {
      margin: 0 auto; }
  #booking-tab .col-12:nth-child(2) {
    background-image: url(../img/bookingtab_feat.jpg);
    background-size: cover;
    height: 80vw; }

footer.homepage {
  position: relative;
  bottom: 0; }

#lineup ul {
  font-family: 'ag-defectedbrand-bold', 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial;
  list-style: none;
  padding-inline-start: 0;
  padding-left: 0;
  line-height: 0.9em; }
#lineup li {
  display: inline-block;
  padding-right: 0.3em; }
#lineup .lineup-t1 {
  font-size: 4.5em; }
#lineup .lineup-t2 {
  font-size: 3.2em; }
#lineup .lineup-t3 {
  font-size: 1.6em; }

/*Homepage Header*/
#wrapper {
  z-index: -1; }

.hero-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-40%);
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  width: 90%; }

.header-btn {
  position: absolute;
  left: 50%;
  bottom: 20%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*Booking Page*/
#booking .navbar-bg {
  background-color: #07284F; }
#booking #dfd-logo rect,
#booking #croatia-2019-logo {
  fill: #80EDF4; }
#booking .nav-item:nth-child(1) > .nav-link {
  color: #80EDF4; }
#booking .section:nth-child(2) {
  background-color: #2289FB; }
  #booking .section:nth-child(2) .alt {
    color: #80EDF4; }
  #booking .section:nth-child(2) .btn {
    color: #80EDF4;
    background-color: transparent;
    border: 1px solid #80EDF4; }
    #booking .section:nth-child(2) .btn:hover {
      color: #2289FB;
      background-color: #80EDF4; }
    #booking .section:nth-child(2) .btn:active {
      color: #2289FB;
      background-color: #51e6f0; }
  #booking .section:nth-child(2) a.see-more:hover {
    color: #80EDF4; }
#booking .section:nth-child(3) {
  background-color: #52BCF7; }
  #booking .section:nth-child(3) .alt {
    color: #07284F; }
  #booking .section:nth-child(3) .btn {
    color: #07284F;
    background-color: transparent;
    border: 1px solid #07284F; }
    #booking .section:nth-child(3) .btn:hover {
      color: #52BCF7;
      background-color: #07284F; }
    #booking .section:nth-child(3) .btn:active {
      color: #52BCF7;
      background-color: #031020; }
  #booking .section:nth-child(3) a.see-more:hover {
    color: #07284F; }
#booking .section:nth-child(4) {
  background-color: #52BCF7; }
  #booking .section:nth-child(4) .alt {
    color: #07284F; }
  #booking .section:nth-child(4) .btn {
    color: #07284F;
    background-color: transparent;
    border: 1px solid #07284F; }
    #booking .section:nth-child(4) .btn:hover {
      color: #52BCF7;
      background-color: #07284F; }
    #booking .section:nth-child(4) .btn:active {
      color: #52BCF7;
      background-color: #031020; }
  #booking .section:nth-child(4) a.see-more:hover {
    color: #07284F; }
#booking #header {
  background-image: url(../img/booking_header.jpg); }
#booking .faninc {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2.5rem; }
#booking .price {
  font-size: 1.5em;
  margin-bottom: 0.3em; }
  #booking .price .per-day {
    font-size: 0.5em; }

/*Programme Page*/
#programme .navbar-bg {
  background-color: #631406; }
#programme #dfd-logo rect,
#programme #croatia-2019-logo {
  fill: #ffd12b; }
#programme .nav-item:nth-child(1) > .nav-link {
  color: #ffd12b; }
#programme .section:nth-child(2) {
  background-color: #F1521D; }
  #programme .section:nth-child(2) .alt {
    color: #ffd12b; }
  #programme .section:nth-child(2) .btn {
    color: #ffd12b;
    background-color: transparent;
    border: 1px solid #ffd12b; }
    #programme .section:nth-child(2) .btn:hover {
      color: #F1521D;
      background-color: #ffd12b; }
    #programme .section:nth-child(2) .btn:active {
      color: #F1521D;
      background-color: #f7c100; }
  #programme .section:nth-child(2) a.see-more:hover {
    color: #ffd12b; }
#programme .section:nth-child(3) {
  background-color: #F78825; }
  #programme .section:nth-child(3) .alt {
    color: #631406; }
  #programme .section:nth-child(3) .btn {
    color: #631406;
    background-color: transparent;
    border: 1px solid #631406; }
    #programme .section:nth-child(3) .btn:hover {
      color: #F78825;
      background-color: #631406; }
    #programme .section:nth-child(3) .btn:active {
      color: #F78825;
      background-color: #330a03; }
  #programme .section:nth-child(3) a.see-more:hover {
    color: #631406; }
#programme .section:nth-child(4) {
  background-color: #F78825; }
  #programme .section:nth-child(4) .alt {
    color: #631406; }
  #programme .section:nth-child(4) .btn {
    color: #631406;
    background-color: transparent;
    border: 1px solid #631406; }
    #programme .section:nth-child(4) .btn:hover {
      color: #F78825;
      background-color: #631406; }
    #programme .section:nth-child(4) .btn:active {
      color: #F78825;
      background-color: #330a03; }
  #programme .section:nth-child(4) a.see-more:hover {
    color: #631406; }
#programme #header {
  background-image: url(../img/programme_header.jpg); }
#programme .stage {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 12rem; }
  #programme .stage img {
    opacity: 0.8; }
#programme .stage.img-right {
  margin-left: calc((100vw - 1140px) / 2);
  margin-right: -30px; }
#programme .stage.img-left {
  margin-right: calc((100vw - 1140px) / 2);
  margin-left: -30px; }
#programme .stage-img.left {
  position: absolute;
  right: 0; }

/*Info Page*/
#info .navbar-bg {
  background-color: #33064A; }
#info #dfd-logo rect,
#info #croatia-2019-logo {
  fill: #F243CA; }
#info .nav-item:nth-child(1) > .nav-link {
  color: #F243CA; }
#info .section:nth-child(2) {
  background-color: #791b9e; }
  #info .section:nth-child(2) .alt {
    color: #F243CA; }
  #info .section:nth-child(2) .btn {
    color: #F243CA;
    background-color: transparent;
    border: 1px solid #F243CA; }
    #info .section:nth-child(2) .btn:hover {
      color: #791b9e;
      background-color: #F243CA; }
    #info .section:nth-child(2) .btn:active {
      color: #791b9e;
      background-color: #ef13bd; }
  #info .section:nth-child(2) a.see-more:hover {
    color: #F243CA; }
#info .section:nth-child(3) {
  background-color: #A62EAE; }
  #info .section:nth-child(3) .alt {
    color: #33064A; }
  #info .section:nth-child(3) .btn {
    color: #33064A;
    background-color: transparent;
    border: 1px solid #33064A; }
    #info .section:nth-child(3) .btn:hover {
      color: #A62EAE;
      background-color: #33064A; }
    #info .section:nth-child(3) .btn:active {
      color: #A62EAE;
      background-color: #12021b; }
  #info .section:nth-child(3) a.see-more:hover {
    color: #33064A; }
#info .section:nth-child(4) {
  background-color: #A62EAE; }
  #info .section:nth-child(4) .alt {
    color: #33064A; }
  #info .section:nth-child(4) .btn {
    color: #33064A;
    background-color: transparent;
    border: 1px solid #33064A; }
    #info .section:nth-child(4) .btn:hover {
      color: #A62EAE;
      background-color: #33064A; }
    #info .section:nth-child(4) .btn:active {
      color: #A62EAE;
      background-color: #12021b; }
  #info .section:nth-child(4) a.see-more:hover {
    color: #33064A; }
#info #header {
  background-image: url(../img/info_header.jpg); }

/*/////////////////////////////////////
	Section Slanting
/////////////////////////////////////*/
.section {
  padding: 160px 0;
  margin-top: -80px; }

.container {
  padding-left: 30px;
  padding-right: 30px; }

#header {
  z-index: 0;
  background-size: cover;
  height: auto; }

.section:nth-child(2) {
  padding-top: 0;
  transform: skewY(-4deg);
  z-index: 2; }
  .section:nth-child(2) .container,
  .section:nth-child(2) .container-fluid {
    transform: skewY(4deg); }

.section:nth-child(3) {
  transform: skewY(2deg);
  z-index: 4; }
  .section:nth-child(3) .container,
  .section:nth-child(3) .container-fluid {
    transform: skewY(-2deg); }

.section:nth-child(4) {
  transform: skewY(-1deg);
  z-index: 6; }
  .section:nth-child(4) .container,
  .section:nth-child(4) .container-fluid {
    transform: skewY(1deg); }

footer {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  background-color: #000;
  padding: 24px;
  text-align: center;
  font-size: 0.65em; }

/*Footer*/
#footer .col-md-4 {
  position: relative;
  padding: 0; }

.footer-logo {
  width: 100px;
  display: block;
  margin: 0 auto 8px; }

#defected-link {
  position: absolute;
  bottom: 0px;
  left: 24px;
  font-family: 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial;
  font-size: 1.5em; }

#socials {
  position: absolute;
  bottom: 0px;
  right: 24px; }

.icons {
  list-style: none;
  margin-bottom: 0; }

.icons li {
  display: inline;
  margin-left: 4px; }

.icons img {
  height: 20px;
  width: auto; }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #homepage #header {
    background: url(../img/dennis_tab.jpg);
    background-size: cover; } }
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .md-show {
    display: inherit; }

  .md-hide {
    display: none; }

  #booking-tab .col-12:nth-child(2) {
    height: auto; } }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .lg-show {
    display: inherit; }

  .lg-hide {
    display: none; }

  .hero-logo {
    width: 70%; }

  #homepage #header {
    background: none; } }
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .hero-logo {
    width: 50%; }

  .fixed-btn {
    position: fixed;
    left: 5vw;
    top: 60vh;
    -ms-transform: translateX(0) translateY(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  .btn-round {
    height: 150px;
    width: 150px;
    padding: 45px 0;
    font-size: 1.2em;
    margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
